include /mixins.pug
doctype html
html(lang="en")
  head
    block title
    link(rel="stylesheet" href="/css/main.css")
    script(src="/script/main.js")
    script
      block script
  body
    div#header
      div Node-Enocean | EEP Info Browser
    block header
    #sidebar
      block sidebar
        div
          h3 f6
          +eepList("f6")
        div
          h3 d5
          +eepList("d5")
        div
          h3 a5
          +eepList("a5")
        div
          h3 d2
          +eepList("d2")
    #content
      block content
    block footer
      
